<div class="container">
    <h2>Calcular Regresión Lineal</h2>
    <label for="xValues">Ingrese valores de X (separados por comas):</label>
    <input type="text" id="xValues" [(ngModel)]="xInput" placeholder="Ej. 1, 2, 3, 4, 5">
    
    <label for="yValues">Ingrese valores de Y (separados por comas):</label>
    <input type="text" id="yValues" [(ngModel)]="yInput" placeholder="Ej. 2, 3, 4, 5, 6">
    
    <button (click)="calcular()">Calcular Regresión Lineal</button>
    
    <p *ngIf="resultado">{{ resultado }}</p>
  </div>