<h3><b>unit-testing</b></h3>
<nav>
  <ul>
    <li class="dropdown">
      <a href="#">A1</a>
      <div class="dropdown-content">
        <a routerLink="/media">media</a>
        <a routerLink="/stddev">stddev</a>
      </div>
    </li>
    <li class="dropdown">
      <a href="#">A3</a>
      <div class="dropdown-content">
        <a routerLink="/linear-regression">linear-regression</a>
        <a routerLink="/correlation">correlation</a>
      </div>
    </li>
    <li class="dropdown">
      <a routerLink="/simpson">A5</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
